body
{
    background-color: #222222;
    margin: 12px;
}
h1
{
    cursor: default;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 0px;
    color: rgb(132, 132, 253);
    font-family: 'Caveat', cursive;
    width: 50%;
    font-size: 60px;
}
#gridBox
{   
    background-color: rgb(41, 41, 41);
    border: 2px solid rgb(0, 0, 0);
    display: grid;
    grid-template-columns: auto;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}
#button
{
    text-align: center; padding-bottom: 10px;
}
#gridBox div
{
    border: 0.1px solid rgb(181, 243, 212, 0.04);
}
#clearButton
{
    font-family: 'Montserrat', sans-serif;
    padding: 10px 10px 10px 10px;
    border: none;
    color: white;
    background-color: rgb(21, 161, 75);
    cursor: pointer;
}
#clearButton:hover
{
    background-color: rgb(12, 97, 44);
}
#clearButton:active
{
    background-color: rgb(17, 121, 57);
}
#gridButton
{
    font-family: 'Montserrat', sans-serif;
    padding: 10px 10px 10px 10px;
    border: none;
    color: white;
    background-color: rgb(152, 12, 170);
    cursor: pointer;
}
#gridButton:hover
{
    background-color: rgb(94, 8, 105);
}
#gridButton:focus, #clearButton:focus
{
    outline: none;
}
#gridButton:active
{
    background-color: rgb(111, 23, 146);
}