body
{
    background-color: #212121;
    margin: 12px;
}
h1
{
    cursor: default;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 0px;
    color: rgb(132, 132, 253);
    font-family: 'Caveat', cursive;
    width: 50%;
    font-size: 60px;
}
#gridBox
{   
    border: 1px solid rgb(0, 0, 0);
    display: grid;
    grid-template-columns: auto;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}
#newDiv
{
    border: 0.1px solid rgb(181, 243, 212, 0.04);
    float: left;
}
#newDiv:hover 
{
    background-color: blue;
}
#button { text-align: center; padding-bottom: 10px;}
#gridButton
{
    font-family: 'Akaya Telivigala', cursive;
    padding: 10px 10px 10px 10px;
    border: none;
    color: white;
    background-color: rgb(152, 12, 170);
    cursor: pointer;
}
#gridButton:focus
{
    outline: none;
}
#gridButton:active
{
    background-color: rgb(111, 23, 146);
}